In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

# Exercise

In [2]:
#creathing path
path = r"C:\Users\logan\Downloads\CareerFoundry\Instacart Basket Analysis"

In [3]:
#importing data
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged 4.8.pkl'))

In [5]:
ords_prods_merge.head(10)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,price_range_loc,busiest_day,busiest_period_of_day,max_order,loyalty_flag
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,Mid-range product,Regularly busy days,Most orders,32,Regular customer
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,Mid-range product,Regularly busy days,Average orders,32,Regular customer
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,Mid-range product,Busiest days,Average orders,5,New customer
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,10,0,Mid-range product,Least busy days,Most orders,3,New customer
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,Mid-range product,Least busy days,Average orders,3,New customer
5,1,Chocolate Sandwich Cookies,61,19,5.8,1701441,777,16,1,7,26.0,7,0,Mid-range product,Busiest days,Average orders,26,Regular customer
6,1,Chocolate Sandwich Cookies,61,19,5.8,1871483,825,3,2,14,30.0,2,0,Mid-range product,Regularly busy days,Most orders,9,New customer
7,1,Chocolate Sandwich Cookies,61,19,5.8,1290456,910,12,3,10,30.0,1,0,Mid-range product,Least busy days,Most orders,12,Regular customer
8,1,Chocolate Sandwich Cookies,61,19,5.8,369558,1052,10,1,20,19.0,1,0,Mid-range product,Busiest days,Average orders,20,Regular customer
9,1,Chocolate Sandwich Cookies,61,19,5.8,589712,1052,15,1,12,15.0,2,1,Mid-range product,Busiest days,Most orders,20,Regular customer

In [6]:
#finding the mean for the entire dataframe
ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457687
2                17.277920
3                17.179756
4                17.811403
5                15.213779
6                16.439806
7                17.225773
8                15.340520
9                15.895474
10               20.197148
11               16.170828
12               15.887622
13               16.583304
14               16.757377
15               16.165037
16               17.663250
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

# 3. The means are mostly similar to the subset from the Exercise

# 4. Done in the exercise, you can see the results in the search above

In [7]:
#finding average spent by customers
ords_prods_merge.groupby('loyalty_flag').agg({'prices' : ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.388747  1.0  99999.0
New customer      13.294370  1.0  99999.0
Regular customer  12.496203  1.0  99999.0

# That max price doesn't look right, going to do some investigating on it

In [ ]:
#creating subsets to look for high prices
sorted_df = ords_prods_merge.sort_values(by='prices', ascending=False)

In [10]:
sorted_df.head(100)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,price_range_loc,busiest_day,busiest_period_of_day,max_order,loyalty_flag
21814982,33664,2 % Reduced Fat Milk,84,16,99999.0,2330210,164929,31,3,15,2.0,1,0,High-range product,Least busy days,Most orders,37,Regular customer
21814657,33664,2 % Reduced Fat Milk,84,16,99999.0,2400178,91557,18,3,9,17.0,5,0,High-range product,Least busy days,Most orders,20,Regular customer
21814665,33664,2 % Reduced Fat Milk,84,16,99999.0,2273391,92658,4,2,8,7.0,2,1,High-range product,Regularly busy days,Average orders,42,Loyal customer
21814664,33664,2 % Reduced Fat Milk,84,16,99999.0,1110866,92658,2,1,10,3.0,2,0,High-range product,Busiest days,Most orders,42,Loyal customer
21814663,33664,2 % Reduced Fat Milk,84,16,99999.0,1105066,92270,12,6,15,30.0,3,0,High-range product,Regularly busy days,Most orders,12,Regular customer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21814721,33664,2 % Reduced Fat Milk,84,16,99999.0,1306141,106021,23,5,9,1.0,2,1,High-range product,Regularly busy days,Most orders,38,Regular customer
21814720,33664,2 % Reduced Fat Milk,84,16,99999.0,3340972,106021,16,5,10,4.0,5,1,High-range product,Regularly busy days,Most orders,38,Regular customer
21814719,33664,2 % Reduced Fat Milk,84,16,99999.0,541346,106021,15,1,13,3.0,2,1,High-range product,Busiest days,Most orders,38,Regular customer
21814717,33664,2 % Reduced Fat Milk,84,16,99999.0,1584663,104738,11,1,10,25.0,1,0,High-range product,Busiest days,Most orders,13,Regular customer
21814728,33664,2 % Reduced Fat Milk,84,16,99999.0,2294612,106324,4,1,22,30.0,13,0,High-range product,Busiest days,Average orders,14,Regular customer

In [12]:
milk_products = sorted_df[sorted_df['product_name'].str.contains('milk', case=False, na=False)]

In [15]:
milk_products.groupby('product_name')

In [20]:
milk_products.shape

(1917728, 18)

In [30]:
milk_prices = milk_products.groupby('product_name').agg({'prices' : ['min', 'max']})

In [31]:
milk_prices.head()

                              prices
                                 min   max
product_name
0% Fat Free Organic Milk        12.9  12.9
0% Milkfat Greek Plain Yogurt    6.3   6.3
0% Milkfat Greek Yogurt Honey    2.4   2.4
1 % Lowfat Milk                 13.0  13.0
1% Chocolate Milk                8.3   8.3

In [33]:
pricey_milk = milk_products[milk_products['prices'] > 25]

In [34]:
pricey_milk.shape

(5127, 18)

In [35]:
pricey_milk_2= pricey_milk.groupby('product_name').agg({'prices' : ['min', 'max']})

In [36]:
pricey_milk_2.shape

(2, 2)

In [37]:
pricey_milk_2.head()

                                   prices
                                      min      max
product_name
2 % Reduced Fat  Milk             99999.0  99999.0
Lowfat 2% Milkfat Cottage Cheese  14900.0  14900.0

In [38]:
filtered_products = ords_prods_merge[(ords_prods_merge['product_name'].str.contains('Cottage Cheese', case=False, na=False)) & (ords_prods_merge['prices'] < 25)]

In [40]:
filtered_products.head(10)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,price_range_loc,busiest_day,busiest_period_of_day,max_order,loyalty_flag
103250,195,Grade A Pasteurized 2% Milkfat Lowfat Cottage ...,108,16,3.3,2186058,16404,5,3,9,8.0,15,0,Low-range product,Least busy days,Most orders,13,Regular customer
103251,195,Grade A Pasteurized 2% Milkfat Lowfat Cottage ...,108,16,3.3,802379,16404,7,1,8,6.0,14,1,Low-range product,Busiest days,Average orders,13,Regular customer
103252,195,Grade A Pasteurized 2% Milkfat Lowfat Cottage ...,108,16,3.3,3003992,16404,8,1,9,7.0,8,1,Low-range product,Busiest days,Most orders,13,Regular customer
103253,195,Grade A Pasteurized 2% Milkfat Lowfat Cottage ...,108,16,3.3,3118945,16404,10,1,8,7.0,1,1,Low-range product,Busiest days,Average orders,13,Regular customer
103254,195,Grade A Pasteurized 2% Milkfat Lowfat Cottage ...,108,16,3.3,3050967,34138,1,6,11,NaN,10,0,Low-range product,Regularly busy days,Most orders,3,New customer
103255,195,Grade A Pasteurized 2% Milkfat Lowfat Cottage ...,108,16,3.3,1268258,46966,4,0,10,4.0,13,0,Low-range product,Busiest days,Most orders,8,New customer
103256,195,Grade A Pasteurized 2% Milkfat Lowfat Cottage ...,108,16,3.3,137355,46966,7,1,8,30.0,10,1,Low-range product,Busiest days,Average orders,8,New customer
103257,195,Grade A Pasteurized 2% Milkfat Lowfat Cottage ...,108,16,3.3,2857035,46966,8,1,9,21.0,23,1,Low-range product,Busiest days,Most orders,8,New customer
103258,195,Grade A Pasteurized 2% Milkfat Lowfat Cottage ...,108,16,3.3,2497846,153431,3,5,10,2.0,9,0,Low-range product,Regularly busy days,Most orders,12,Regular customer
103259,195,Grade A Pasteurized 2% Milkfat Lowfat Cottage ...,108,16,3.3,1016233,177553,1,3,13,NaN,3,0,Low-range product,Least busy days,Most orders,19,Regular customer

In [44]:
#finding average price of cottage cheese products
filtered_products.agg({'prices' : ['mean', 'min', 'max']})

         prices
mean   7.542921
min    1.100000
max   15.000000

In [45]:
ords_prods_merge.loc[ords_prods_merge['product_name'] == 'Lowfat 2% Milkfat Cottage Cheese', 'prices'] = 7.5

In [48]:
whole_milk_rows = ords_prods_merge[ords_prods_merge['product_name'].str.contains('whole milk', case=False, na=False)]

In [53]:
whole_milk_rows.groupby('product_name').agg({'prices':['mean', 'max', 'min']})

                                                   prices
                                                     mean   max   min
product_name
Baked Scalloped Potatoes With Real Cheddar Chee...    2.0   2.0   2.0
Blueberry Drinkable Whole Milk Yogurt                 9.7   9.7   9.7
Blueberry Whole Milk Yogurt Pouch                     6.1   6.1   6.1
Cheese, Whole Milk Cheese, Cremoso                   11.8  11.8  11.8
Cotija Whole Milk Cheese                              8.2   8.2   8.2
...                                                   ...   ...   ...
Whole Milk, Vitamin D, Jug                            6.2   6.2   6.2
Wildberries Organic Probiotic Whole Milk Kefir        3.2   3.2   3.2
Yo Baby Organic Whole Milk Banana Mango Yogurt        2.3   2.3   2.3
Yo Toddler Organic Strawberry Banana Whole Milk...    2.5   2.5   2.5
YoTot Apple Sweet Potato with Fruit & Veggies O...    1.8   1.8   1.8

[116 rows x 3 columns]

In [63]:
ords_prods_merge.loc[ords_prods_merge['product_name'] == '2 % Reduced Fat  Milk', 'prices'] = 6

In [64]:
ords_prods_merge.groupby('loyalty_flag').agg({'prices' : ['mean', 'min', 'max']})

                    prices
                      mean  min   max
loyalty_flag
Loyal customer    7.778386  1.0  25.0
New customer      7.805556  1.0  25.0
Regular customer  7.802887  1.0  25.0

# As you can see, I changed the outlandish prices to something more reasonable for what they are looking at similar products

# 5. The average price is pretty close to each other, but actually slightly lower for loyal customers

In [66]:
#creating an average price column
ords_prods_merge['average_price'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

C:\Users\logan\AppData\Local\Temp\ipykernel_5584\2073074866.py:2: FutureWarning: The provided callable <function mean at 0x000002C270CF2AC0> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ords_prods_merge['average_price'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [67]:
ords_prods_merge.head(10)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,price_range_loc,busiest_day,busiest_period_of_day,max_order,loyalty_flag,average_price
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,Mid-range product,Regularly busy days,Most orders,32,Regular customer,6.935811
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,Mid-range product,Regularly busy days,Average orders,32,Regular customer,6.935811
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,Mid-range product,Busiest days,Average orders,5,New customer,7.930208
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,10,0,Mid-range product,Least busy days,Most orders,3,New customer,4.972414
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,Mid-range product,Least busy days,Average orders,3,New customer,4.972414
5,1,Chocolate Sandwich Cookies,61,19,5.8,1701441,777,16,1,7,26.0,7,0,Mid-range product,Busiest days,Average orders,26,Regular customer,6.935398
6,1,Chocolate Sandwich Cookies,61,19,5.8,1871483,825,3,2,14,30.0,2,0,Mid-range product,Regularly busy days,Most orders,9,New customer,5.957576
7,1,Chocolate Sandwich Cookies,61,19,5.8,1290456,910,12,3,10,30.0,1,0,Mid-range product,Least busy days,Most orders,12,Regular customer,6.680000
8,1,Chocolate Sandwich Cookies,61,19,5.8,369558,1052,10,1,20,19.0,1,0,Mid-range product,Busiest days,Average orders,20,Regular customer,7.162500
9,1,Chocolate Sandwich Cookies,61,19,5.8,589712,1052,15,1,12,15.0,2,1,Mid-range product,Busiest days,Most orders,20,Regular customer,7.162500

In [68]:
#creating "Spending habits" flag
ords_prods_merge.loc[ords_prods_merge['average_price'] < 10, 'spending_habit'] = 'Low spender'

C:\Users\logan\AppData\Local\Temp\ipykernel_5584\3618674252.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Low spender' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  ords_prods_merge.loc[ords_prods_merge['average_price'] < 10, 'spending_habit'] = 'Low spender'

In [69]:
ords_prods_merge.loc[ords_prods_merge['average_price'] >= 10, 'spending_habit'] = 'High spender'

In [71]:
ords_prods_merge['spending_habit'].value_counts(dropna = False)

spending_habit
Low spender     32313511
High spender      120701
Name: count, dtype: int64

In [72]:
ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,price_range_loc,busiest_day,busiest_period_of_day,max_order,loyalty_flag,average_price,spending_habit
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,Mid-range product,Regularly busy days,Most orders,32,Regular customer,6.935811,Low spender
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,Mid-range product,Regularly busy days,Average orders,32,Regular customer,6.935811,Low spender
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,Mid-range product,Busiest days,Average orders,5,New customer,7.930208,Low spender
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,10,0,Mid-range product,Least busy days,Most orders,3,New customer,4.972414,Low spender
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,Mid-range product,Least busy days,Average orders,3,New customer,4.972414,Low spender

In [73]:
#creating median orders
ords_prods_merge['median_orders'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

C:\Users\logan\AppData\Local\Temp\ipykernel_5584\2418541316.py:2: FutureWarning: The provided callable <function median at 0x000002C270E33A60> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  ords_prods_merge['median_orders'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [74]:
ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,add_to_cart_order,reordered,price_range_loc,busiest_day,busiest_period_of_day,max_order,loyalty_flag,average_price,spending_habit,median_orders
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,5,0,Mid-range product,Regularly busy days,Most orders,32,Regular customer,6.935811,Low spender,8.0
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,1,1,Mid-range product,Regularly busy days,Average orders,32,Regular customer,6.935811,Low spender,8.0
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,...,20,0,Mid-range product,Busiest days,Average orders,5,New customer,7.930208,Low spender,8.0
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,...,10,0,Mid-range product,Least busy days,Most orders,3,New customer,4.972414,Low spender,9.0
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,...,11,1,Mid-range product,Least busy days,Average orders,3,New customer,4.972414,Low spender,9.0

In [75]:
ords_prods_merge.loc[ords_prods_merge['median_orders'] > 20, 'order_frequency_flag'] = 'Non-frequent customer'

C:\Users\logan\AppData\Local\Temp\ipykernel_5584\2105341910.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Non-frequent customer' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  ords_prods_merge.loc[ords_prods_merge['median_orders'] > 20, 'order_frequency_flag'] = 'Non-frequent customer'

In [76]:
ords_prods_merge.loc[(ords_prods_merge['median_orders'] > 10) & (ords_prods_merge['median_orders'] <= 20), 'order_frequency_flag'] = 'Regular customer'

In [77]:
ords_prods_merge.loc[ords_prods_merge['median_orders'] <= 10, 'order_frequency_flag'] = 'Frequent customer'

In [78]:
#checking counts
ords_prods_merge['order_frequency_flag'].value_counts(dropna = False)

order_frequency_flag
Frequent customer        21577409
Regular customer          7217134
Non-frequent customer     3639669
Name: count, dtype: int64

In [80]:
ords_prods_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged 4.82.pkl'))